.main-sidebar {
    --main-width: 15vw;
    position: fixed;
    left: 10vw;
    top: 15vh;
    height: 70vh;
    width: var(--main-width);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    z-index: 10;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    h1 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
}

.sidebar-open {
    animation: ease-in-out .2s sidebarOpened forwards;
}

.sidebar-closed {
    animation: ease-in-out .2s sidebarClosed forwards;
}


@keyframes sidebarClosed {
    from {
        width: var(--main-width);
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
    }
    to {
        width: 0px;
        padding: 0px;
        opacity: 0;
    }
}


@keyframes sidebarOpened {
    from {
        width: 0px;
        padding: 0px;
        opacity: 0;
    }
    to {
        width: var(--main-width);
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
    }
}