.dropdown-cont-route {
  width: 28px;
}

.dropdown-route {
    /* border: 1px solid var(--gray-a7); */
    border-radius: 12px;
    height: 28px;
    /* padding-left: 50px; */
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* width: 25%; */
    /* font-weight: 500; */
    position: relative;
    min-width: 28px;
  }

  
  .dropdown-route img {
    position: absolute;
    
  }
  
  .closed-img-r{
    position: absolute;
    right: 0px;
    top:0px;
    transition: .3s ease;
  }
  
  .opened-img-r {
    position: absolute;
    right: 0px;
    top:0px;
    transform: rotate(-180deg);
    transition: .3s ease;
  }
  
  .dropdown-cont {
    position: relative;
  }
  
  .menu-route {
    /* border: 1px solid var(--yellow); */
    box-shadow: 1px 4px 20px rgba(0, 0, 0, .3);
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-top: 10px;
    width:fit-content;
    padding-inline: 12px;
    transition: .3s ease;
    animation-duration: .3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      /* bottom: 100%; */
      opacity: 0;
      /* width: 300%; */
    }
    to {
      /* bottom: 0%; */
      opacity: 1;
      /* width: 100%; */
    }
  }
  
  
  .option-route {
    display: flex;
    margin-inline: 10px;
    gap:10px;
    align-items: center;
    cursor: pointer; 
  }
  
  .option-text-route {
    transition: .3s ease;
    /* font-family: Suisse-Intl; */
  }
  
  .option:hover .option-text {
    transform: translateX(5px);
  }
  
  .dropdown-selected-route {
    padding: 10px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
  
  .dropdown-icon-route {
    font-size: 12px;
  }
  
  .dropdown-list-route {
    position: absolute;
    width: 100%;
    border: 1px solid #e0e0e0;
    background: white;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 2;
    border-radius: 20px;
  }
  
  .dropdown-option-route {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #6C757D;
    animation: onUnFocus .3s forwards;
    font-size: 16px;
    font-weight: 400;
  }
  
  @keyframes onFocus {
    from {
        padding-left: 10px;
    }
    to {
        padding-left: 16px;
    }
  }
  
  
  @keyframes onUnFocus {
    from {
        padding-left: 16px;
    }
    to {
        padding-left: 10px;
    }
  }
  
  .dropdown-option-route:hover {
    animation: onFocus .3s forwards;
  }
  
  .selected-route {
    color: #000;
    font-weight: bold;
    border-left: 4px solid #000;
  }
  