.footer {
  background-color: #1D1D1D;
  height: 318px;
  width: 100%;
}

.footer-content {
  margin-inline: 108px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top img {
  cursor: pointer;
}

.footer-top-left {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacts p {
  color: white;
  margin-bottom: 0px;
  cursor: pointer;
}


.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-footer p {
  color: white;
  cursor: pointer;
}

.footer-policy {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 495px) {
  .footer-content {
    display: grid;
    margin-inline: 16px;
  }

  .footer-top {
    display: grid;
    gap: 10px;
  }
  .footer-top-left {
    display: grid;
    gap:25px;
  }

  .footer {
    height: fit-content;
  }
  .bottom-footer {
    display: grid;
    gap: 20px;
    margin-bottom: 25px;
  }

  .footer-policy {
    display: grid;

  }

  .footer-policy p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  .footer-links {
    display: flex;
    justify-content: flex-start;
  }
}