p {
  /* font-family: Suisse-Intl; */
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 24px;
}


.icons {
  width: 28px;
}


.layout-header {
  
  width: 100%;
  height: 72px;
  /* padding-inline: 108px; */
  background-color: white;
  position: sticky;
  top:0;
  z-index: 10;
}

.header-content {
  padding-inline: 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.left-half {
  display: flex;
  flex-direction: row;
  /* margin-left: 100px; */
  gap: 20px;
}

.left-part-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap:8px;
}

.centre-part-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right-part-header {
  display: flex;
  flex-direction: row;
  /* margin-right: 100px; */
  gap: 20px;
  right: 108px;
}

.logo-rus {
  height: 28px;
}

.bgimg {
  background-size: cover;
  padding-bottom: 5px;
}

@media (max-width: 459px) {
  .header-content {
    padding-inline: 16px;
  }

  .centre-part-header {
    display: none;
  }
  .right-part-header {
    display: none;
  }

}