.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($color: #fff, $alpha: .7);
    z-index: 998;
}

.notes {
    overflow: hidden;
    --main-width: 30vw;
    position: fixed;
    right: 0vw;
    top: 8vh;
    height: 92vh;
    width: var(--main-width);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F5F5F5;
    z-index: 10;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: Proto Grotesk;
    overflow: scroll;
}

.notes-open {
    animation: ease-in-out .2s sidebarOpened forwards;
}

.notes-closed {
    animation: ease-in-out .2s sidebarClosed forwards;
}


@keyframes sidebarClosed {
    from {
        width: var(--main-width);
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
    }
    to {
        width: 0px;
        padding: 0px;
        opacity: 0;
    }
}


@keyframes sidebarOpened {
    from {
        width: 0px;
        padding: 0px;
        opacity: 0;
    }
    to {
        width: var(--main-width);
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
    }
}

