.container {
    display: flex;
    flex-direction: row;
    height: max-content;
    min-height: 600px;
    gap:20px;
    // font-family: Suisse Intl;

    .details {
        width: 50%;

        .card {
            display: flex;
            gap:12px;
            align-items: flex-start;
            margin-bottom: 12px;
            margin-top: 12px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 15px;
                object-fit: fill;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80px;
                .features {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    align-items:center;
                    p {
                        margin: 0;
                        font-weight: 300;
                        font-size: 14px;
                        
                    }
                }

                h1 {
                    font-weight: 400;
                    font-size: 20px;
                    text-align: start;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                h2 {
                    font-weight: 300;
                    font-size: 14px;
                    text-align: start;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
        .transport {
            display: flex;
            align-items: center;
            margin-left: 28px;
            .info {
                display: flex;
                margin-left: 40px;
                gap:8px;
                p {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.ticket-button {
    width: 60px;
    height: 40px;
    background-color: var(--yellow);

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    cursor: pointer;
}

.ticket-button-disabled {
    width: 60px;
    height: 40px;
    // background-color: var(--yellow);
    background-color: var(--gray-f5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    cursor: pointer;
}

.ticket-button:hover {
    background-color:#F0C400;
}